/* Estilos para el carrusel */
#carrusel-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  
  #carrusel {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 2s ease-in-out;
  }
  
  .slide-right {
    animation: slideRight 2s ease-in-out forwards;
  }
  
  @keyframes slideRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }